*{
	margin:0 ;
	padding: 0;
	font-family: arial;
}

body
{
	width: 1200px;
	margin: auto;
	background-color: #D86325;
	color: #852E00;
}

h1
{
	text-align: center;
	margin: 20px;
}

input, select
{
	border: 0;
	background-color: #FFAB7E;
	color: #852E00;
	box-shadow: 0;
}

input:focus, select:focus
{
	outline: none;
}

.item 
{
	width: 100%;
	overflow: hidden;
}

.item > p
{
	float: left;
	width: 30%;
}

#input
{
	display: flex;
	justify-content: center;
	background-color: #E8844F;
	padding: 20px;
}

.keys
{
	margin: 20px 20px 10px 20px;
	overflow: hidden;
}

.keys p
{
	font-weight: bold;
	width: 33%;
	float: left;
}

.company
{
	border-bottom: 1px dotted #852E00;
	padding: 5px 0;
	overflow: hidden;
	cursor: pointer;
	margin: 0 20px;
}

.companyItem
{
	overflow: hidden;
}

.companyItem:hover
{
	background-color: #fc8241;
}

.companySelected
{
	background-color: #e77233;
}

.companyItem > p
{
	width: 33%;
	float: left;
}


.stationsForm
{
	padding: auto 30px;
	width: 50%;
	overflow: hidden;
	margin: 20px 0;
	background-color: #e77233;
}
.stationsForm div
{
	overflow: hidden;
	margin: 0 20px;
	border-bottom: 1px dotted #8d421a;
	padding: 5px;
}

.stationsForm p
{
	box-sizing: border-box;
	width: 20%;
	float: left;
	text-align: center;
}

.stationsForm p:first-child
{
	width: 60%;
}

.stationsForm .keys
{
	padding-top: 25px;
}

.stationsForm div:not(.keys):hover
{
	background-color: #fe8b4e;
}