<!DOCTYPE html>
<html ng-app='git'>
<head>
	<title>CityBikes</title>
	<meta charset ="utf-8">
	<link rel="stylesheet" href="css/style.css">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>
<body>
	<h1>FIND YOUR BIKE</h1>
	<div ng-controller="mainController" >
		<form id='input'>
			<div class='countrySelect'>
				<label for="country">Select country </label>
				<select name="country" ng-model='selectedCountry'>
					<option ng-repeat='item in countries | orderBy: item' value="{{item}}">{{item}}</option>
				</select>
				to get city list,
			</div>
			<div class="selectCityFromList" ng-show='byCountrySelect'>
				<label>or select city from list: 
					<select name="" id="" ng-model='selectedCity'>
						<option ng-repeat='item in cities' value='{{item}}'>{{item}}</option>
					</select>
				</label>
			</div>
			<div class="selectCity" ng-hide='byCountrySelect'>
				<label>or write particluar city</label>
				<input type="text" ng-model='selectedCity' ng-keyup='showCompanyList = true'>
			</div>
		</form>
		<section class="companyList" ng-show='showCompanyList'>
			<div class="keys">
				<p>CITY</p>
				<P>COMPANY NAME</P>
				<P>COUNTRY</P>
			</div>
			<div class="company" ng-repeat='item in data | filter: {location: {country: selectedCountry }} | filter: {location: {city: selectedCity}} | filter: {location: {city: selectedCityFromText}}' ng-click='showStations(this.item.href, $index)'>
				<div ng-if='showed[$index]' ng-class='{loading: loading}'></div>
				<div class="companyItem" ng-class='{companySelected: showed[$index]}'>
					<p>{{item.location.city}}</p>
					<p>{{item.name}}</p>
					<p>{{item.location.country}}</p>
				</div>
				<div class="stationsWrapper" ng-if='showed[$index]'>
					<div class='stationsForm' ng-show='showed[$index]'>
						<div class="keys">
							<p>STATION NAME</p>
							<p>FREE BIKES</p>
							<p>EMPTY SLOTS</p>
						</div>
						<div ng-repeat='item in stations' ng-click='stationSelect($event, this.item.latitude, this.item.longitude)' >
							<p>{{item.name}}</p>
							<p>{{item.free_bikes}}</p>
							<p>{{item.empty_slots}}</p>
						</div>

					</div>
					<div class="mapWrapper">
						<p>SELECT STATION</p>
						<div id="map" ng-click='mapClick($event)'></div>
					</div>
						<!-- maap here -->

				</div>
			</div>
		</section>
	</div>
</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9qQjK59kBt4sJ3lo1rqaqNpG2nCesKsQ"
    ></script>
<script type="text/javascript" src="js/angular.min.js"> </script>
<script type="text/javascript" src="js/angular-animate.min.js"> </script>
<script type="text/javascript" src="js/app.js"> </script>
<script type="text/javascript" src="js/services.js"> </script>
<script type="text/javascript" src="js/controllers.js"> </script>
<!--   AIzaSyCBM7I34oBnrW9M2n-EtTb8wSR5_z5N68E
-->


</html>

