<!DOCTYPE html>
<html ng-app='git'>
<head>
	<meta charset ="utf-8">
	<link rel="stylesheet" href="css/style.css">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>
<body>
	
	<div ng-controller="mainController" >
		<form id='input'>
			<div class='countrySelect'>
				<label for="country">Select country </label>
				<select name="country" ng-model='selectedCountry'>
					<option ng-repeat='item in countries | orderBy: item' value="{{item}}">{{item}}</option>
				</select>
				to get city list,
			</div>
			<div class="selectCityFromList" ng-show='byCountrySelect'>
				<label>or select city from list: 
					<select name="" id="" ng-model='selectedCity'>
						<option ng-repeat='item in cities' value='{{item}}'>{{item}}</option>
					</select>
				</label>
			</div>
			<div class="selectCity" ng-hide='byCountrySelect'>
				<label>or write particluar city</label>
				<input type="text" placeholder = 'hit enter to chose' ng-model='selectedCityFromText' ng-keyup='showCompanyList = true'>
			</div>
		</form>
		<section class="companyList" ng-show='showCompanyList'>
			<p class="instruction">Or click company You want see:</p>
			<div class="company" ng-repeat='item in data | filter: {location: {country: selectedCountry }} | filter: {location: {city: selectedCity}} | filter: {location: {city: selectedCityFromText}}'>
				<p>City: {{item.location.city}}</p>
				<p>Company name: {{item.company[0]}}</p>
				<p>Country: {{item.location.country}}</p>
			</div>
		</section>

	</div>
</body>
<script type="text/javascript" src="js/angular.min.js"> </script>
<script type="text/javascript" src="js/app.js"> </script>
<script type="text/javascript" src="js/route.js"> </script>
<script type="text/javascript" src="js/services.js"> </script>
<script type="text/javascript" src="js/controllers.js"> </script>
<script type="text/javascript" src="js/directives.js"> </script>
</html>